SpeechRecognition
pyttsx3
wikipedia
customtkinter
scikit-learn
spacy
pandas
numpy
requests
sqlalchemy
vosk
openai-whisper
opencv-python
pvporcupine
sounddevice
scipy
streamlit
audio-recorder-streamlit